@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center border border-2 border-dark rounded-1 mt-2">
    <div class="d-flex flex-column align-items-stretch m-2 border border-2 border-dark bg-dark rounded-2 align-items-center justify-content-center  h-100">
        <h2 class="text-light"> Seja Bem Vindo a Área Administrativa</h2>
    </div>
</div>