@using Spotify.Admin.Models
@model MusicViewModel
<button type="button" class="btn btn-primary mb-2" role="button" onclick="backHistory()">
    <i class="bi bi-arrow-return-left">Voltar</i>
</button>
<div class="d-flex flex-column align-items-stretch m-0 p-2 border border-2 border-dark bg-dark rounded-2 align-items-center justify-content-center text-light">
    <form method="post" asp-controller="Musica" asp-action="Save">
        <div class="row mb-2">
            <label for="album" class="col-1 col-form-label fs-5 text-end">Album</label>
            <div class="col">
                <select id="album" name="Music.AlbumId" class="form-select" required>
                    <option value="" disabled selected>Selecione um Album</option>
                    @foreach (var album in Model.Albums)
                    {
                        <option value="@album?.Id">@album?.Nome</option>
                    }
                </select>
            </div>
        </div>       
        <div class="row mb-2">
            <label for="name" class="col-1 col-form-label fs-5 text-end">Nome</label>
            <div class="col">
                @Html.TextBoxFor(model => model.Music.Nome, new { @class = "form-control", @id = "name", @required = "" })
                <span class="badge bg-secondary bg-opacity-50 text-danger" asp-validation-for="Music.Nome"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label for="url" class="col-1 col-form-label fs-5 text-end">Url</label>
            <div class="col">
                @Html.TextBoxFor(model => model.Music.Url, new { @class = "form-control ", @id = "url", @required = "" })
                <span class="badge bg-secondary bg-opacity-50 text-danger" asp-validation-for="Music.Url"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label for="duration" class="col-1 col-form-label fs-5 text-end">Duração</label>
            <div class="col-sm-2">
                @Html.TextBoxFor(model => model.Music.Duracao, new { @class = "form-control ", @id = "duration", @required = "", @type = "number" })
                <span class="badge bg-secondary bg-opacity-50 text-danger" asp-validation-for="Music.Duracao"></span>
            </div>
        </div>
        <div class="row mb-3 d-flex align-items-center justify-content-center ">
            <button type="submit" class="btn btn-primary w-25 fs-4">
                <i class="bi bi-save">Salvar</i>
            </button>
        </div>
    </form>
</div>
