@using Spotify.Application.Shared.Dto
@model LoginDto
@{
    ViewData["Title"] = "Login Access";
}
<div class="d-flex justify-content-center align-items-center " style="height: 70vh;">
    <div class="d-flex flex-column align-items-stretch m-2 border border-2 border-dark bg-dark rounded-4 align-items-center justify-content-center ">
        <form method="post" asp-controller="Account" asp-action="SingIn" class="d-flex flex-column align-items-stretch m-3 b-0 align-items-center justify-content-center fs-6 fs-sm-5 fs-md-4 fs-lg-3 @(User.Identity.IsAuthenticated ? "visually-hidden" : "")">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label class="visually-hidden" for="email">Entre com o seu email</label>
                <div class="input-group" >
                    <div class="input-group-text">@@</div>
                    <input asp-for="Email" class="form-control @(ViewData.ModelState["Email"]?.Errors.Any() == true ? "is-invalid" : "")" type="text" autocomplete="on" placeholder="Entre com seu email" value="user@admin.com" required="true" />
                </div>
                <!-- <span class="badge bg-secondary bg-opacity-50 text-danger" asp-validation-for="Email"></span> -->
            </div>
            <div class="mb-2">
                <label class="visually-hidden bi bi-lock" for="password"></label>
                <div class="input-group">
                    <div class="input-group-text text-black">
                        <i class="bi bi-lock"></i>
                    </div>
                    <input asp-for="Senha" class="form-control @(ViewData.ModelState["Senha"]?.Errors.Any() == true ? "is-invalid" : "")" type="password" autocomplete="newPassword" placeholder="Entre com sua senha" value="123" required="true" />
                </div>
                <!-- <span class="badge bg-secondary bg-opacity-50 text-danger" asp-validation-for="Password"></span> -->
            </div>
            @{
                if (ViewBag.ErrorMessage != null)
                {
                    <span class="badge bg-secondary bg-opacity-50 text-danger mb-2">@Html.Raw(ViewBag.ErrorMessage)</span>
                }
            }
            <div class="mb-1 text-center">
                <button type="submit" class="btn btn-primary w-75">
                    Entrar
                </button>
            </div>            
        </form>
    </div>    
</div>